* { 
  margin:0; padding:0;
  font-family:"宋体";font-size:12px;line-height:16px;color:#28b4e2;text-decoration:none;
}
a:hover {text-decoration:underline}
img { border: 1px solid #808A87; }

#page {
  width:1080px;
  margin:25px auto;
}
#left {
  float:left;
  width:60%;
  text-align: right;
  padding-right: 100px;
}
#right {
  float:left;
  width:30%;
}
#code pre {
  color:black;
}
